#mid_content{
    width: 768px;
    /*height: 1070px;*/
    margin: auto;
    /*background: url("/static/img/table_bg.gif") repeat;*/
}
/*
#data_table td{
    width: 50%;
}
#container{
    margin: auto;
    width: 95%;
}*/
